
<div class="col-md-2">
<h6 class="text-uppercase font-weight-bold">
<%= link_to "About US ", about_path, target: '_/blank', class: "text-white" %>
</h6>
</div>

<div class="col-md-2">
<h6 class="text-uppercase font-weight-bold">
<%= link_to "Contact Us ", contact_path, target: '_/blank', class: "text-white" %>
</h6>
</div>